body {
    margin: 0;
    height: 100vh;
    background-image: url(macos\ wallpaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.menubar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.15);

    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 14px;
    color: black;
}

.left span, .right span {
    margin-right: 15px;
    cursor: default;
}
.dock {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    
    display: flex;
    align-items: flex-end;
    gap: 6px;

    padding: 5px;
    border-radius: 15px;
    backdrop-filter: blur(20px);
    background: rgba(255,255,255,0.2);

    transition: all 0.2s ease;
}

.dock-icon {
    width: 50px;
    height: 50px;
    transition: all 0.2s ease;
    cursor: default;
}

.dock-icon:hover {
    transform: scale(1.2) translatey(-10px);
}

.calculator{
    position: absolute;
    top: 100px;
    left: 50%;
    /* transform: translateX(-50%); */
    width: 252px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 5px 15px rgba(49, 49, 49, 0.5);
    display: none;
}

.titlebar{
    height: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 5px;
    cursor: default;
}
.btn{
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.red {background: #ff5f57;}
.yellow {background: #ffbd2e;}
.green {background: #28c840;}
.name{
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.500);
}


input{
    width: 200px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 20px;
    padding: 20px;
    margin: 5px;
    background: transparent;
    box-shadow: 0px 3px 10px rgba(49, 49, 49, 0.3);
    font-size: 40px;
    color: white;
    text-align: right;
    cursor: default;
}

input::placeholder{
    color: white;
}

button{
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 50px;
    background: transparent;
    color: white;
    font-size: 20px;
    box-shadow: 3px 5px 10px rgba(49, 49, 49, 0.3);
    cursor: default;

}

.equalBtn, .operator{
    background-color: orange;
}


.photobooth{
    position: absolute;
    top: 80px;
    left: 320px;
    width: 800px;
    height: 600px;

    background: rgba(0, 0, 0, 0.900);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(49, 49, 49, 0.5);
    display: none;
}
.title{
    height: 5px;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 15px;
    cursor: default;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

#video{
    width: 100%;
    height: 82.3%;
    object-fit: cover;
    transform: scalex(-1);

}
#gallery{
    position: absolute;
    bottom: 70px;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    background: transparent;
    backdrop-filter: blur(50px);
    

}
#gallery img{
    width: 100px;
    height: 70px;
    object-fit: cover;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.500);
    transform: scalex(-1);
}

#canvas{
    display: none;
}
.bottom{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);

}
.capture{
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    position: absolute;
    background: rgb(255, 54, 54);
    cursor: default;
}
.effects{
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    padding: 3px 20px ;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.715);
    position: absolute;
    right: 20px;
}
.button1{
    width: auto;
    height: 30px;
}


